body {
  background: rgb(255, 196, 43);
  background: linear-gradient(
    90deg,
    rgba(255, 196, 43, 1) 0%,
    rgba(255, 94, 43, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.black-box {
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0px 100px;
  color: white;
}
