<body>
  <div class="black-box">
    <h1 class="text-3xl font-bold px-5 pt-5">Pagamento</h1>
    <hr class="my-3 h-0.5 border-t-0 bg-slate-800" />

    <form class="pl-5 pb-5 flex flex-row">
      <div class="relative flex flex-col w-80 mr-10">
        <div class="flex justify-between">
          <div>ID</div>
          <div class="valor" style="color: darkorange">R$300,00</div>
        </div>
        <label for="numero" class=""> Número do Cartão </label>
        <input
          id="numero"
          formControlName="numero"
          class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300"
          type="text"
          placeholder="XXXX XXXX XXXX XXXX"
        />

        <small
          class="text-red-500 font-bold px-3"
          *ngIf="
            (submit && !solicitacaoForm.get('numero')?.value) ||
            (solicitacaoForm.get('numero')?.touched &&
              !solicitacaoForm.get('numero')?.value)
          "
        >
          Digite o Número do Cartão!
        </small>
        <div class="card-validators" style="margin-top: 10px">
          <div>
            <label for="validade" class="mt-4"> Validade </label>
            <input
              placeholder="00/00"
              id="validade"
              formControlName="validade"
              style="width: 100px"
              class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300"
            />
            <small
              class="text-red-500 font-bold px-3"
              *ngIf="
                (submit && !solicitacaoForm.get('validade')?.value) ||
                solicitacaoForm.get('validade')?.touched
              "
            >
              Digite o código de verificação!
            </small>
          </div>
          <div>
            <label for="cvv" class="mt-4"> CVV </label>
            <input
              id="cvv"
              formControlName="cvv"
              class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300"
            />
            <small
              class="text-red-500 font-bold px-3"
              *ngIf="
                (submit && !solicitacaoForm.get('cvv')?.value) ||
                (solicitacaoForm.get('cvv')?.touched &&
                  !solicitacaoForm.get('cvv')?.value)
              "
            >
              Digite o código de verificação
            </small>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-end">
        <button
          type="submit"
          (click)="openDialogDecline()"
          class="bg-laranja rounded text-lg mr-5 py-1 px-2 w-40 hover:bg-[#D56848]"
        >
          Confirmar
        </button>
        <button
          type="submit"
          (click)="openDialogDecline()"
          style="margin-top: 10px"
          class="bg-laranja rounded text-lg mr-5 py-1 px-2 w-40 hover:bg-[#D56848]"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</body>
