<div id="background" class="flex items-center justify-center">
    <div class="bg-black w-10/12 rounded-2xl black-box">
        <div class="flex justify-between">
            <h1 class="mx-8 my-4 font-nuckle text-4xl font-extrabold text-white">
                Solicitações
            </h1>

            <button (click)="onFazerSolicitacao()"
                class="w-40 bg-[#FF5E2B] rounded-md font-nuckle font-light text-white h-12 mx-8 my-4">
                Fazer solicitação
            </button>
        </div>

        <hr>

        @if (solicitacoes.length > 0) {
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-10">
            @for (solicitacao of solicitacoes; track $index) {
            <div class="bg-[#423B3A] rounded-2xl p-5">
                <p class="font-nuckle font-light text-white mb-3">
                    {{ formatDate(solicitacao.dataHoraCriacao) }}
                </p>
                <p class="font-nuckle font-light text-white mb-3">
                    Defeito: {{ solicitacao.descricaoDefeito }}
                </p>
                <p class="font-nuckle font-light text-white mb-4">
                    Estado: {{ solicitacao.status }}
                </p>

                @if (solicitacao.status === 'ORCADA') {
                <button class="w-full bg-[#FF5E2B] rounded-md font-nuckle font-light text-white h-9 mb-3"
                    (click)="checkOrcamento()">
                    Aprovar serviço
                </button>

                <button class="w-full bg-[#FF5E2B] rounded-md font-nuckle font-light text-white h-9 mb-3">
                    Rejeitar serviço
                </button>
                }

                @else if (solicitacao.status === 'AGUARDANDO_PAGAMENTO') {
                    <button 
                        class="w-full bg-[#FF5E2B] rounded-md font-nuckle font-light text-white h-9 mb-3"
                        (click)="pagarServico(solicitacao.id)"
                    >
                        Pagar serviço
                    </button>
                }

                @else if (solicitacao.status === 'REJEITADA') {
                <button class="w-full bg-[#FF5E2B] rounded-md font-nuckle font-light text-white h-9 mb-3"
                    (click)="resgatarSolicitacao(solicitacao)">
                    Resgatar serviço
                </button>
                }

                <button class="w-full bg-[#FF5E2B] rounded-md font-nuckle font-light text-white h-9">
                    Visualizar a situação
                </button>
            </div>
            }
        </div>
        }

        @else {
        <p class="font-nuckle font-light text-white h-9">
            Você ainda não fez nenhuma solicitação!
        </p>
        }
    </div>
</div>