<body>
  <div class="black-box">
    <h1 class="text-3xl font-bold px-5 pt-5">Pagamento
      <pre>
  {{ formPagar.valid }}
</pre>
    </h1>
    <hr class="my-3 h-0.5 border-t-0 bg-slate-800" />

    <form class="pl-5 pb-5 flex flex-row" [formGroup]="formPagar">
      <div class="relative flex flex-col w-80 mr-10">
        <div class="flex justify-between">
          <div>ID</div>
          <div class="valor" style="color: darkorange">R$300,00</div>
        </div>
        <label for="number" class=""> Número do Cartão </label>
        <input id="number" formControlName="number"
          class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300"
          type="text" placeholder="XXXX XXXX XXXX XXXX" />

        <small class="text-red-500 font-bold px-3" *ngIf="
            (!formPagar.get('number')?.value) &&
            (formPagar.get('number')?.touched)
          ">
          Digite o Número do Cartão!
        </small>
        <div class="card-validators" style="margin-top: 10px">
          <div>
            <label for="vality" class="mt-4"> Validade </label>
            <input placeholder="00/00" id="vality" formControlName="vality" style="width: 100px"
              class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300" />
            <small class="text-red-500 font-bold px-3" *ngIf="
                (!formPagar.get('vality')?.value) ||
                formPagar.get('vality')?.touched
              ">
              Digite o código de verificação!
            </small>
          </div>
          <div>
            <label for="cvv" class="mt-4"> CVV </label>
            <input id="cvv" formControlName="cvv"
              class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300" />
            <small class="text-red-500 font-bold px-3" *ngIf="
                (!formPagar.get('cvv')?.value) ||
                (formPagar.get('cvv')?.touched &&
                  !formPagar.get('cvv')?.value)
              ">
              Digite o código de verificação
            </small>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-end">
        <button type="submit" mat-button class="bg-laranja rounded text-lg mr-5 py-1 px-2 w-40 hover:bg-[#D56848]"
          [disabled]="!formPagar.valid">
          Confirmar
        </button>
        <button type=" submit" style="margin-top: 10px"
          class="bg-laranja rounded text-lg mr-5 py-1 px-2 w-40 hover:bg-[#D56848]">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</body>