<body>
    <div class="black-box w-75 h-75 px-5 pb-5">
        <div class="orcamentos-list">
            <p class="orcamentos-title my-4 lead font-nuckle font-bold text-3xl">Aprovar/rejeitar serviço</p>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Sua solicitação aguarda uma ação </mat-panel-title>
                        <mat-panel-description>
                            Informações do pedido
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="text-left">
                        <p><strong>Categoria do equipamento:</strong> {{ solicitacao.categoriaEquipamento }}</p>
                        <p><strong>Descrição do Equipamento:</strong> {{ solicitacao.descricaoEquipamento}}</p>
                        <p><strong>Descrição do Defeito:</strong> {{ solicitacao.descricaoDefeito }}</p>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> {{ formatDate(solicitacao.dataHoraAtualizacao ?? solicitacao.dataHoraCriacao)
                            }} </mat-panel-title>
                        <mat-panel-description>Status: {{ solicitacao.status }}</mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="text-left">
                        <p><strong>Valor Estimado:</strong> R$ {{ solicitacao.valorOrcado }} </p>
                        <p><strong>Descrição do orçamento:</strong> {{ solicitacao.orientacoesExtrasOrcamento }}
                        </p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="buttons-container mt-5">
                <button mat-raised-button color="warn" (click)="openDialogDecline()">Recusar Orçamento</button>
                <button mat-raised-button color="primary" (click)="openDialogAccept()">Aceitar Orçamento</button>
            </div>
        </div>
    </div>
</body>