<body>
  <div class="black-box">
    <!-- Header -->
    <h1 class="text-3xl font-bold px-5 pt-5">Relatório</h1>
    <hr class="my-3 h-0.5 border-t-0 bg-slate-800" />
    <!-- Inputs -->
    <form class="pl-5 pb-5 flex flex-row">
      <div class="relative flex flex-col w-80 mr-10">
        <!-- Nome -->
        <label for="name" class=""> Nome do Equipamento </label>
        <input
          id="name"
          formControlName="name"
          class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300"
          type="text"
          placeholder="Digite aqui"
        />
        <!-- Explicação para a validação: Caso foi o apertado o botao e não tenha nada no input ou o input foi tocado e nao tem nada no input -->
        <small
          class="text-red-500 font-bold px-3"
          *ngIf="
            (submit && !solicitacaoForm.get('name')?.value) ||
            (solicitacaoForm.get('name')?.touched &&
              !solicitacaoForm.get('name')?.value)
          "
        >
          Nome do Equipamento é obrigatório!
        </small>
        <!-- Descriçao -->
        <label for="description" class="mt-4"> Descrição do Equipamento </label>
        <textarea
          id="description"
          formControlName="description"
          class="mt-1 h-20 resize-none bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300"
        ></textarea>
        <small
          class="text-red-500 font-bold px-3"
          *ngIf="
            (submit && !solicitacaoForm.get('description')?.value) ||
            (solicitacaoForm.get('description')?.touched &&
              !solicitacaoForm.get('description')?.value)
          "
        >
          Descrição do Equipamento é obrigatório!
        </small>
        <!-- Categoria -->
        <label for="categorie" class="mt-4"> Categoria do Equipamento </label>
        <select
          name="categorie"
          id="categorie"
          formControlName="categorie"
          class="mt-1 bg-transparent text-white text-sm border border-slate-500 rounded-md px-1 py-2 focus:border-white hover:border-slate-300"
        >
          <!-- Para cada opcão dentro das categorias, crie uma opcao dentro do select -->
          <option
            *ngFor="let cat of categories"
            [value]="cat.value"
            class="bg-black text-white text-sm border border-slate-500 rounded-md px-1 py-2 focus:border-white hover:border-slate-300"
          >
            {{ cat.view }}
          </option>
        </select>
        <small
          class="text-red-500 font-bold px-3"
          *ngIf="
            (submit && !solicitacaoForm.get('categorie')?.value) ||
            (solicitacaoForm.get('categorie')?.touched &&
              !solicitacaoForm.get('categorie')?.value)
          "
        >
          Categoria do Equipamento é obrigatório!
        </small>
        <!-- Problema -->
        <label for="problem" class="mt-4"> Descrição do Defeito </label>
        <textarea
          id="problem"
          formControlName="problem"
          class="mt-1 h-20 resize-none bg-transparent text-white text-sm border border-slate-500 rounded-md px-3 py-2 focus:border-white hover:border-slate-300"
        ></textarea>
        <small
          class="text-red-500 font-bold px-3"
          *ngIf="
            (submit && !solicitacaoForm.get('problem')?.value) ||
            (solicitacaoForm.get('problem')?.touched &&
              !solicitacaoForm.get('problem')?.value)
          "
        >
          Descrição do Defeito é obrigatório!
        </small>
      </div>
      <!-- Area ao lado dos Inputs -->
      <div class="flex flex-col justify-between items-end">
        <img
          src="/broken-computer.png"
          alt=""
          class="mt-5 h-80 w-80 object-cover object-left"
        />
        <button
          type="submit"
          class="bg-laranja rounded text-lg mr-5 py-1 px-2 w-40 hover:bg-[#D56848]"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</body>
