<div id="background" class="flex items-center justify-center">
    <div class="bg-black w-10/12 rounded-2xl black-box">
        <h1 class="mx-8 my-4 font-nuckle text-4xl font-extrabold text-white">
            Solicitações abertas
        </h1>

        <hr>

        @if (solicitacoes.length > 0) {
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-10">
                @for (solicitacao of solicitacoes; track $index) {
                <div class="bg-[#423B3A] rounded-2xl p-5">
                    <p class="font-nuckle font-light text-white mb-3">
                        {{ formatDate(solicitacao.dataHoraCriacao) }}
                    </p>

                    <p class="font-nuckle font-light text-white mb-3">
                        Nome do cliente: {{ solicitacao.cliente?.nome }}
                    </p>
                    
                    <p class="font-nuckle font-light text-white mb-3">
                        Defeito: {{ solicitacao.descricaoDefeito }}
                    </p>

                    <p class="font-nuckle font-light text-white mb-4">
                        Estado: {{ solicitacao.status }}
                    </p>

                    @if (solicitacao.status === 'ABERTA') {
                        <button class="w-full bg-[#FF5E2B] rounded-md font-nuckle font-light text-white h-9 mb-3"
                            (click)="efetuarOrcamento(solicitacao.id)">
                            Efetuar orçamento
                        </button>
                    }
                </div>
                }
            </div>
        }

        @else {
            <p class="font-nuckle font-light text-white h-9">
                Parece que não tem nenhuma solicitação aberta
            </p>
        }
    </div>
</div>
