<div id="container">
  <div class="left">
    <div class="welcome-text">
      Seja bem vindo
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <input
        id="username"
        type="text"
        placeholder="Usuário"
        [formControl]="loginForm.controls.email"
        [ngClass]="{ 'input-error': loginForm.controls.email.invalid && loginForm.controls.email.touched }"
        class="border-gradient-input"
      />
      <div class="error-placeholder">
        <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="error-text">
          O e-mail é obrigatório e deve ser válido.
        </div>
      </div>

      <input
        id="user-password"
        type="password"
        placeholder="Senha"
        [formControl]="loginForm.controls.senha"
        [ngClass]="{ 'input-error': loginForm.controls.senha.invalid && loginForm.controls.senha.touched }"
        class="border-gradient-input"
      />
      <div class="error-placeholder">
        <div *ngIf="loginForm.controls.senha.touched" class="error-text">
          A senha é obrigatória.
        </div>
      </div>

      <div class="error-placeholder">
        <div *ngIf="loginError" class="error-text">
          {{ loginError }}
        </div>
      </div>

      <a class="register-link" class="btn" href="register">Criar conta</a>
      <br>
      <button type="submit" class="btn" id="btn-login">Entrar</button>
    </form>
  </div>

  <div class="right"></div>
</div>
