table {
    width: 100%;
}

td, th {
    width: 20%;
}

hr {
    background: white;
    height: 2px;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.black-box {
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: white;
    width: 85%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.orcamentos-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0 20px;
}

.orcamentos-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 20px;
}

.main-body {
    background: rgb(255, 196, 43);
    background: linear-gradient(90deg, rgba(255, 196, 43, 1) 0%, rgba(255, 94, 43, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::ng-deep div.mat-sort-header-container {
    justify-content: center;
}

::ng-deep td.mat-mdc-cell {
    text-align: center;
}

::ng-deep mat-icon.no-margin {
    margin: 0 !important;
}

::ng-deep button.solicitacao-button {
    height: 35px;
    padding: 5px;
}