<div class="dialog-box bg-black text-white">
    <span class="text-3xl font-bold" mat-dialog-title>
        {{ data?.funcionario ? 'Editar Funcionário' : 'Criar Funcionário'}}
    </span>
    <div mat-dialog-content>
        <form [formGroup]="form" class="d-flex flex-column gap-3">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput type="text" id="nome" formControlName="nome" />
                @if (form.get('nome')?.hasError('required')) {
                <mat-error>Nome é obrigatório</mat-error>
                }

            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" id="email" formControlName="email" />
                @if (form.get('email')?.hasError('required')) {
                <mat-error>Email é obrigatório</mat-error>
                }
                @if (form.get('email')?.hasError('email')) {
                <mat-error>Email Invalido</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Data de Nascimento</mat-label>
                <input matInput type="text" id="dataNascimento" formControlName="dataNascimento" mask="d0/M0/0000" />
                @if (form.get('dataNascimento')?.hasError('required')) {
                <mat-error>Data de Nascimento é obrigatória</mat-error>
                }
                @if (form.get('dataNascimento')?.hasError('invalidDateLength')) {
                <mat-error>Data de Nascimento deve ter 8 caracteres</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput type="text" id="senha" formControlName="senha" />
                @if (form.get('senha')?.hasError('required')) {
                <mat-error>Senha é obrigatória</mat-error>
                }
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="d-flex flex-row gap-3 justify-content-end">
        <button mat-button (click)="onCancel()" class="cancelar font-bold">Cancelar</button>
        <button mat-button (click)="onSubmit()" class="salvar font-bold" cdkFocusInitial
            [ngClass]="{'cursor-not-allowed': !form.valid}">
            {{ data?.funcionario ? 'Salvar' : 'Criar' }}
        </button>

    </div>
</div>