mat-icon {
    height: auto !important;
    width: auto !important;
}

.presentation {
    padding: 60px 50px 50px 50px;
    height: 100%;
    background: rgb(255, 196, 43);
    background: linear-gradient(90deg, rgba(255, 196, 43, 1) 0%, rgba(255, 94, 43, 1) 100%);
    overflow-x: hidden;
    border-radius: 0px 0px 40px 40px;
}

.demonstration {
    padding: 50px 50px 80px 50px;
}

:host {
    flex: 1;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    /* Limita os slides ao contêiner */
}

.slide {
    position: relative;
    height: 400px;
    object-fit: contain;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Transição suave */
}

@media (max-width: 1200px) {
    .slide {
        height: 220px;
    }
}

.control {
    border: none;
    background-color: transparent;
    outline: 0;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.control:hover,
.control:focus {
    opacity: 1;
}

.control.next {
    right: 0;
}

.control.prev {
    left: 0;
}

/* Estilo para as setas */
.arrow {
    display: block;
    border-left: 0.1em solid white;
    border-bottom: 0.1em solid white;
    width: 0.5em;
    height: 0.5em;
}

.arrow.left {
    transform: rotate(45deg);
}

.arrow.right {
    transform: rotate(225deg);
}