<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<header>
    <div class="header">
        <div class="header-left">
            <span class="material-symbols-outlined ">
                I
            </span>
            <span class="header-text">HealBoard</span>
        </div>
        <div class="header-right">
            <span class="material-symbols-outlined ">
                account_circle
            </span>
            <span class="header-text">Orçamentos</span>
            <span class="header-text" (click)="goLogout()">Logout</span>
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    Footer
</footer>
