<body>
  <h2 class="my-3 title">Relatório de Receita</h2>
  <form
    (ngSubmit)="onSubmit(dataInicial.value, dataFinal.value)"
    class="nav-filter"
  >
    <div style="display: flex; align-items: center; gap: 10px">
      <select>
        <option>Todas as categorias</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.name">
          {{ categoria.name }}
        </option>
      </select>

      <label for="dataInicial" style="color: white">Data Inicial:</label>
      <input type="date" id="dataInicial" #dataInicial />
      <label for="dataFinal" style="color: white">Data Final:</label>
      <input type="date" id="dataFinal" #dataFinal />

      <button class="btn" type="submit">Gerar Relatório</button>
    </div>
  </form>

  <div class="relatorios">
    <table *ngIf="receitas.length > 0" class="black-box">
      <thead>
        <tr>
          <td><h1>Data</h1></td>
          <td><h1>Receita</h1></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receita of receitas">
          <td>{{ receita.data | date }}</td>
          <td>{{ receita.valor | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="receitas.length === 0">
    <p>Nenhuma receita encontrada para o período selecionado.</p>
  </div>
</body>