<body>
  <h1>Relatório de Receita</h1>
  <form
    (ngSubmit)="onSubmit(dataInicial.value, dataFinal.value)"
    class="nav-filter"
  >
    <div style="display: flex; align-items: center; gap: 10px">
      <select>
        <option>Todas as categorias</option>
        <option>Placas-mãe</option>
        <option>Processadores</option>
        <option>Memória RAM</option>
        <option>Placas de vídeo</option>
        <option>Armazenamento</option>
      </select>

      <label for="dataInicial" style="color: white">Data Inicial:</label>
      <input type="date" id="dataInicial" #dataInicial />
      <label for="dataFinal" style="color: white">Data Final:</label>
      <input type="date" id="dataFinal" #dataFinal />

      <button class="btn" type="submit">Gerar Relatório</button>
    </div>
  </form>

  <div class="relatorios">
    <table *ngIf="receitas.length > 0" class="black-box">
      <thead>
        <tr>
          <th class="data-header">Data</th>
          <th class="valor-header">Receita</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let receita of receitas">
          <td class="data-col">{{ receita.data | date }}</td>
          <td class="valor-col">{{ receita.valor | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="receitas.length === 0">
    <p>Nenhuma receita encontrada para o período selecionado.</p>
  </div>
</body>
